@charset "UTF-8";
@import url('https://fonts.googleapis.com/css?family=Open+Sans|Ubuntu&display=swap');

* {
  scroll-behavior: smooth;
}

:root {
  --theme: #ff7300; /*#ff9500 or #ff7300*/
  --main-height: 50vh;
  --text-colour: white; /*black or white*/
  --bg-colour: black; /*white or black*/
}

html, body {
  font-family: "Open Sans", "Roboto", "Arial", sans-serif;
  margin: 0;
  position: relative;
  overflow-x: hidden;
  transition: .3s;
  color: var(--text-colour);
  background-color: var(--bg-colour)
}

.top {
  font-family: "Ubuntu", "Roboto", "Arial", sans-serif;
  background-color: var(--theme);
  color: black;
  padding: 1vh 2vw;
  width: 96vw;
  min-height: var(--main-height);
  font-size: 2em;
  text-transform: uppercase;
  position: relative;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}

.about-top {
  min-height: calc(var(--main-height) / 2);
}

.top h1 {
  margin: 0.1em 0 0 0;
  font-size: 2em;
  font-weight: 700;
  text-transform: uppercase;
}

.top h2 {
  margin: 0 0 0 0.2em;
  font-size: 0.7em;
}

.space-under {
  margin-bottom: 1em !important;
}

.nav {
  font-family: "Open Sans", "Roboto", "Arial", sans-serif;
  margin-top: auto;
  margin-bottom: 30px;
}

.btn {
  display: inline;
  text-align: center;
  border: 3px solid black;
  padding: 15px;
  color: black;
  background-color: var(--theme);
  transition: .3s;
}

.nav a {
  text-decoration: none;
  font-weight: bold;
}

.nav a:hover>.btn {
  background-color: black;
  color: var(--theme)
}

.mypic {
  position: absolute;
  right: 5vw;
}

/*Note: once min() and max() can be used, the commented versions can be
used instead of the query at the bottom*/
.mypic img {
  height: calc(var(--main-height) - 2vh);
  /*height: min(calc(var(--main-height) - 2vh), 30vw);*/
  width: calc(var(--main-height) - 2vh);
  /*width: min(calc(var(--main-height) - 2vh), 30vw);*/
  border-radius: 24vh;
  box-shadow: 0 0 10px;
  object-fit: cover;
}

.bottom {
  width: 100vw;
  text-align: center;
  font-size: 1.5em;
  margin-bottom: 50px;
}

.stalk-text {
  font-weight: 100;
}

.stalk-list {
  list-style-type: none;
  text-align: center;
}

.stalk-list li {
  display: inline;
  font-size: 2em;
  margin-right: 20px;
}

.stalk-list i {
  color: var(--text-colour);
  transition: .3s;
}

.stalk-list i:hover {
  color: var(--theme);
}

.description {
  font-weight: 100;
  width: 60vw;
  text-align: justify;
  margin: auto;
}

.skills {
   display: flex;
   flex-wrap: wrap;
   margin: auto;
   width: 60vw;
}

.skills div {
   text-align: center;
   padding: 0;
   margin: auto;
   margin-bottom: 20px;
   width: 30%;
   display: flex;
   align-items: center;
   justify-content: center;
}

.skills i {
   margin-right: 5px;
}

.achievements {
  width: 60vw;
  margin: auto;
}

.achievements p {
  font-size: 1.1em;
  margin-bottom: 0;
}

.event {
  margin-top: 0;
  padding: 0;
}

.event p {
  margin: 0;
}

.used-skills {
  font-size: 0.8em;
  font-weight: 500;
  margin: 0;
}

.used-skills i {
  margin-right: 3px;
}

.used-skills :not(:last-child)::after {
  content: " • ";
}

.event:not(:last-child)::after {
  content: "";
  background-color: #303030;
  width: 2px;
  height: 70px;
  margin: auto;
  display: block;
}

.switch {
    position: fixed;
    bottom: 0px;
    right: 0px;
    margin: .5em;
    width: 120px;
}

.switch img {
    height: 2em;
    -webkit-user-select: none; /* Safari, old Chrome and old Opera */
    -ms-user-select: none; /* IE 10+ and Edge */
    -moz-user-select: none; /* Old Firefox */
    user-select: none;
}

#theme-switch {
    display: none;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 37px;
    right: 0;
    width: 60px;
    height: 34px;
    background-color: #444;
    transition: .4s;
    border-radius: 34px;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    transition: .4s;
    border-radius: 50%;
}

#theme-switch:checked + .slider {
    background-color: #ccc;
}

#theme-switch:checked + .slider:before {
    transform: translateX(26px);
}

.four-o-four {
  font-size: 5em !important;
}

/*Note: once min() and max() can be used, the commented lines in the original block
can be used instead of this query */
@media screen and (max-width: 1130px) {
  .mypic {
    top: calc(var(--main-height) - 30vw);
  }
  .mypic img {
    height: 30vw;
    width: 30vw;
    border-radius: 15vw;
  }
  .info img {
    display: none;
  }
  .description {
    width: 70vw;
  }
  .skills {
    width: 70vw;
  }
  .achievements {
    width: 70vw;
  }
}

@media screen and (max-width: 600px) {
  html, body {
    font-size: 0.9em;
  }
  .mypic img {
    display:none;
  }
  .description {
    width: 80vw;
  }
  .skills {
    width: 90vw;
  }
  .achievements {
    width: 90vw;
  }
}

/*The following can be used to detect JS enabling once the scripting query is supported
@media (scripting: none) or (scripting: initial-only) {
  do something
}
*/
